.disclaimer__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 40px;
}

.disclaimer__text {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    margin-top: 10px;
    
}