.procedure__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-align: center;
}
.procedure__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;
    margin-top: 10px;
}
.procedure__list {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    margin-top: 10px;
}
.procedure__subitem {
    padding-left: 20px;
}